.background-page {
  background: url(../image/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: sans-serif;
  width: 100%;
  min-height: 100%;
}
.conteiner {
  max-width: 1030px;
  margin-left: auto;
  margin-right: auto;
}

.text1-logo {
  font-weight: 700;
  font-size: 29px;
  line-height: 29px;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 0;
  transition: color 500ms ease;
}
.text2-logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 0;
  transition: color 500ms ease;
}
.link-logo:hover .text2-logo {
  color: #f26522;
}
.link-logo:hover .text1-logo {
  color: #f26522;
}
.link-mail {
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  margin-bottom: 19px;
  transition: all 500ms ease;
}
.link-mail:hover {
  color: #f26522;
}
.link-tel {
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  transition: all 500ms ease;
}
.link-tel:hover {
  color: #f26522;
}
.link-logo {
  display: flex;
  align-items: center;
  transition: all 500ms ease;
}
.header-logo {
  margin-right: 8px;
  padding-bottom: 3px;
  padding-right: 3px;
  position: relative;
  opacity: 100;
  transition: opacity 500ms ease;
}
.header-logo2 {
  position: absolute;
  padding-bottom: 3px;
  opacity: 0;
  transition: opacity 500ms ease;
}
.link-logo:hover .header-logo2 {
  opacity: 100;
}
.link-logo:hover .header-logo {
  opacity: 0;
}
.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.page-header {
  display: flex;
  justify-content: space-between;
  padding-top: 46px;
  margin-bottom: 17px;
}
.holiday {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  row-gap: 37px;
  align-content: space-between;
  margin-top: 0;
  margin-bottom: 49px;
}
.link-holiday {
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  display: block;
  margin-top: 20px;
  transition: all 1s ease;
}
.copyright {
  font-size: 12px;
  line-height: 12px;
  color: #ffffff;
  display: block;
  text-align: center;
  padding-bottom: 12px;
}
.list-holiday {
  position: relative;
}
.information-holiday {
  width: 300px;
  background-color: #f26522;
  position: absolute;
  bottom: 38px;
  left: 0;
  right: 0;
  opacity: 0;
  height: 0;
  transition: height 500ms ease;
}
.list-holiday:hover .information-holiday {
  opacity: 100;
  height: 55px;
}
.subtext-holiday {
  margin-top: 0;
  margin-bottom: 8px;
  color: #ffffff;
  font-size: 10px;
  line-height: 10px;
  text-align: start;
  margin-left: 16px;
  padding-top: 7px;
}
.price {
  margin-top: 0;
  margin-bottom: 0;
  color: #ffffff;
  font-size: 20px;
  line-height: 20px;
  margin-left: 16px;
}
.details {
  margin-top: 0;
  margin-bottom: 0;
  color: #ffffff;
  font-size: 14px;
  line-height: 14px;
  margin-right: 14px;
}
.information {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.details::after {
  content: url(../image/Vecto.png);
  margin-left: 16px;
}

.list-holiday:hover .link-holiday {
  color: #f26522;
}
.image-holiday {
  border: 3px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, black, white);
}
